.footer-section {
    background-color: #05203c;
    height: 300px;
    padding: 50px 0;
  }
  
  .footer-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
    color: #ffc107; /* optional: yellow hover */
  }
  